/* styles.css */

/* Apply flexbox to the main container */
a {
    color: beige;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: white;
}

body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes up at least the viewport height */
}

/* Style the header (top bar) */
header {
    background-color: burlywood;
    
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: beige;
    text-shadow: 2px 4px 4px black;
    text-align: center;
    padding: 10px;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: burlywood;
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: block;
    max-height: 0px;
    transition: all 0.45s ease;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  #searchBar {
  float: none;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  }


  /* Style the hamburger menu */
  .topnav a.icon {
    background: #1C4B55;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: orange;
    color: #A18A66;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    display: block;
    background-color: #1C4B55;
    color: beige;
    transition: all 0.35s ease;
  }

  .news {
    display: none;
  }


/* Style the main content area */
.flex-container {
    display: flex;
    flex: 1 0 auto;
    padding: 10px;
    border: 40px;
    border-radius: 10px;
    border-color: black;
    background-color: burlywood;
    position: relative;
    height: auto;
}

/* Style the overlayed container */
.flex-container div {
    
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    
}

/* Style the first div in the main content area */
.one {
    
    color: beige;
    text-align: left;
    padding: 5px;
}



iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}

/* Style the second div in the main content area */
.two {
    
    display: flex;
    color: beige;
    align-items: center;
    justify-content: center;
}

/* Style the third div in the main content area */
.three {
    
    display: flex;
    color: beige;
    text-align: left;
}

/*Style the main image in div two */
img.me {
    border-radius: 10px;
    position:relative;
    max-width: fit-content;
    width:500px;
    height:500px;
    object-fit: cover;
}

/* Style the folder icon in the myLinks div */
img.folder {
    margin-left: 5px;
    position: relative;
    height: 25px;
    top: 5px;
}

footer {
   
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    
    margin-left: 10px;
    margin-right: 10px;
}
